.btn {
    width: max-content;
    display: inline-block;
    color: #fff; /* Change text color to white for better visibility */
    padding: 0.95rem 1.75rem;
    border-radius: 0.4rem;
    cursor: pointer;
    font-weight: 700;
    border: none; /* Remove border to make gradient background more prominent */
    transition: all 400ms ease;
    text-decoration: none;
    background: linear-gradient(45deg, #ffffff, #4400ff, #ff0000); /* Gradient background */
    background-size: 200% 200%; /* Make the gradient larger to allow smooth transition */
    animation: gradientBackground 10s infinite; /* Apply animation to continuously change gradient */
  }
  
  @keyframes gradientBackground {
    0% {
      background-position: 0% 50%; /* Start gradient position */
    }
    50% {
      background-position: 100% 50%; /* Middle gradient position */
    }
    100% {
      background-position: 0% 50%; /* End gradient position */
    }
  }
  

.btn:hover {
    background: #000;
    color: #fff;
    border-color: transparent;
}

.navbar1 {
    display: flex;
    justify-content: space-between;
    padding: 0 4rem;
    background: linear-gradient(to right, var(--gradient-color-1, #6f00ff), var(--gradient-color-2, #d400ff));
    padding: 0.8rem;
}

.navbar2 {
    background: #000;
    backdrop-filter: blur(15px);
    z-index: 1;
    }

.navbar_menu li {
    list-style: none;
}

.logo_img1 {
    width: 90px;
    height: 80px;
    border-radius: 20px;
}

.navbar_options {
    margin: 0 2rem;
}

.navbar_menu {
    display: flex;
    flex-wrap: wrap;
    gap: 0.6rem;
}

